aerich
asyncpg
boto3
email-validator
fastapi
firebase-admin
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
passlib
pydantic<2.0.0
python-jose
python-multipart
tortoise-orm
uvicorn
